.form-container {
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form-introduction{
  margin-bottom: 20px;
  font-size: 18px;
}

label {
  font-weight: 400;
  font-size: 16px;
  display: flex;
  margin-bottom: 2px;
}

input[type='text'],
input[type='number'],
input[type='email'],
textarea {
  display: block;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  min-width: 400px;
}

.form-control {
  margin-bottom: 12px;
}

.error {
  display: block;
  line-height: 16px;
  min-height: 16px;
  width: 100%;
  color: #b90e0a;
  text-align: left;
  font-size: 14px;
}

.checkout-btn{
    background: #64B743;
    font-size: 17px;
    width: fit-content;
    min-width: 120px;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    outline: none;
    box-shadow: inset 0 0 0 1px #cdeffb;
    color: #ffffff;
    text-shadow: 0 1px 0 #b6e6f9;
    &:hover{
      cursor: pointer;
      filter: drop-shadow(4px 4px 4px #777777) contrast(150%);
    }
     &:disabled {
       filter: grayscale(100%);
       cursor: default;
       text-decoration: line-through;
    }
}
.empty-cart {
  font-size: 30px;
  text-align: center;
}