.Favorites {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  justify-content: center;
  justify-items: center;
  align-items: start;
  &List{
    grid-template-columns: 1fr;
  }
}
.FavoritesTitle{
  font-size: 30px;
  text-align: center;
  padding: 12px 0;
  border-radius: 4px 4px 0 0;
  margin-top: 12px;
  border: 1px solid #64B743;
  border-bottom: none;
}
@media screen and (max-width:1065px)
{
  .Favorites
  {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width:800px)
{
  .Favorites
  {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width:525px)
{
  .Favorites
  {
    grid-template-columns: 1fr;
  }
}