body {
  font-family: Tahoma, sans-serif;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}
.App {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 10px;
}
select#view{
  outline: none;
  border:none;
  border-radius: 4px;
  padding: 4px;
  font-size: 18px;
  color: #777777
}